.navButtonContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.navButtonContainer img {
  height: 2rem;
  width: auto;
}

h1 {
  color: var(--resume-blue);
  font-family: var(--font-logo);
  font-size: var(--section-header-size);
  margin: 0.75rem;
  text-align: center;
  text-transform: capitalize;
}

.dropdownEntryTile,
.resumeEntryTile {
  width: var(--tile-width-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-squarish);
  padding: 0.25rem;
}

.dropdownEntryTile {
  background-color: var(--orb-gold-lt);
}

.resumeEntryTile {
  height: 3.25rem;
  background-color: var(--mage-blue);
  margin: 0.5rem 0 0.5rem 0;
}

.resumeEntryTile:last-child {
  margin-bottom: 1.35rem;
}

.resumeEntryTile:hover {
  box-shadow: 0 0 5px var(--accent-blue), 0 0 10px var(--accent-blue),
    0 0 20px var(--accent-blue);
}

.dropdownEntryTile h2,
.resumeEntryTile h2 {
  color: var(--mage-blue);
  font-family: var(--font-logo);
  font-size: var(--existing-data-header-size);
  text-transform: uppercase;
  margin: 0 0.25rem 0 0.25rem;
}

.dropdownEntryTile h2 {
  color: var(--mage-blue);
}

.resumeEntryTile h2 {
  color: var(--orb-gold-lt);
}

.entryHeadingContainer {
  display: flex;
  flex-direction: column;
}

.entryButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 0.35rem;
}

.addNewContainer,
.addNewTaskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
}

.addNewContainer {
  margin-bottom: 1rem;
}

.addNewTaskContainer {
  margin: 1rem 0 0.25rem 0;
}

.taskItemContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.personalEntry,
.educationEntry,
.workEntry,
.miscellaneousEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-squarish);
  margin-bottom: 1rem;
}

.personalEntry,
.downloadEntry {
  margin-top: -0.75rem;
}

.educationEntry,
.workEntry,
.miscellaneousEntry {
  padding: 0.25rem;
}

.educationEntry:hover,
.workEntry:hover,
.miscellaneousEntry:hover {
  box-shadow: 0 0 5px var(--accent-blue), 0 0 10px var(--accent-blue),
    0 0 20px var(--accent-blue);
}

.downloadEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--border-radius-squarish);
}

.endFormButtonContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.textExplainerBox {
width: var(--tile-width-size);
  background-color: var(--purple-trans);
  border-radius: var(--border-radius-squarish);
  color: var(--orb-gold);
  font-family: var(--font-text);
  font-weight: 700;
  margin: 1rem 0 1rem 0;
  padding: 0.25rem;
  text-align: left;
  text-transform: uppercase;
}
