.editorContainer {
    height: fit-content;
    width: fit-content;
    background-color: rgb(36, 3, 3);
    border-radius: 1rem;
    color: var(--mage-blue);
    /* margin: 1rem; */
    /* padding: 1rem; */
}

.buttonContainer {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgb(39, 67, 3);
    margin: 1rem;
    /* padding: 1rem; */
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgb(1, 25, 5);
    margin: 1rem;
    padding: 1rem;
  }

  .visible {
    display: block;
  }

  .invisible {
    display: none;
  }