header {
  width: 100vw;
  background-color: var(--purple-trans);
  box-shadow: 0 0 5px var(--accent-blue), 
            0 0 10px var(--accent-blue), 
            0 0 20px var(--accent-blue);

  padding: 0.25rem;
  margin-bottom: 1rem;
}

header h1 {
  color: var(--orb-gold-lt);
  /* font-size: var(--header-font-size); */
  /* margin: 0 0.25rem 0 0.25rem; */
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

header p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.innerHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--orb-gold-lt);
  font-family: var(--font-logo);
  /* margin: 0 0.25rem 0 0.25rem; */
  margin-left: 0.25rem;
  /* text-shadow: 0 0 5px var(--accent-blue), 0 0 10px var(--accent-blue),
    0 0 20px var(--accent-blue); */
  text-transform: uppercase;
}

.headerHatLogo {
  /* height: var(--header-logo-size); */
  height: 3.5rem;
  width: auto;
  /* padding: 0 0.5rem 0 0.5rem; */
}
