header {
  width: 100vw;
}

header h1 {
  color: var(--orb-gold);
  font-family: var(--font-logo);
  font-size: var(--header-font-size);
  margin: 0 0.25rem 0 0.25rem;
  text-transform: uppercase;
}

.innerHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerHatLogo {
  height: var(--header-logo-size);
  width: auto;
  padding: 0 0.5rem 0 0.5rem;
}
