.inputFieldContainer {
  width: 95%;
  margin: 0.25rem;
}

.label {
  width: 100%;
  color: var(--orb-gold);
  font-family: var(--font-text);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.input {
  width: 100%;
  background-color: var(--white);
  border-color: transparent;
  border-radius: var(--border-radius-roundish);
  color: var(--mage-blue);
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0.125rem;
}
