.previewContainer {
    height: fit-content;
    width: 40ch;
    background-color: var(--orb-white);
    border-radius: 0.25rem;
    color: var(--mage-blue);
    margin: 1rem;
    padding: 1rem;
}

.bold {
    font-weight: 800;
}

.fullName {
    color: var(--mage-blue);
    font-size: 1.25rem;
}

.contactInfo {
    font-size: .85rem;
}

.fullName, .contactInfo {
    text-align: center;
}
.sectionHeader {
    color: var(--accent-blue);
    font-size: .85rem;
}
.data0Info {
    display: flex;
    flex-direction: column;
    background-color: var(--resume-blue);
    font-size: 0.75rem;
    margin: 0.35rem;
    padding: 0.35rem;
}

.data1Info {
    display: flex;
    flex-direction: row;
}

.data2Info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
}

.dataXInfo {
    display: flex;
    flex-direction: row;
    /* background-color: var(--resume-blue); */
    font-size: 0.75rem;
    /* margin: 0.35rem; */
    padding: 0.35rem;
}