.button {
  height: fit-content;
  width: 12rem;
  /* border: 0.35rem solid var(--mage-blue); */
  border: transparent;
  border-radius: 2rem;
  cursor: pointer;
  font-family: var(--font-logo);
  font-size: 1rem;
  /* margin: 0.35rem; */

  padding: 0.35rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--orb-gold);
  color: var(--mage-blue);
  transform: scale(1.25);
}

.button:active {
  transform: scale(0.9);
}

.default {
  background-color: var(--mage-blue);
  color: var(--orb-gold-lt);
}
