:root {
  /* COLORS */
  --white: #ffffff;
  --orb-gold: #edbd58;
  --orb-gold-lt: #f2e2be;
  --mage-blue: #080818;
  --accent-blue: #5d667e;
  --resume-blue: #dedeea;
  --flamel-red: #eb470b;
  --purple-trans: #7244723f;
  
  /* FONTS */
  --font-logo: "Wendy One", Impact, sans-serif;
  --font-text: "Lato", sans-serif, -apple-system, "Segoe UI" ;

  /* VARIABLES */
  --header-font-size: 0.8rem;
  --header-title-size: 1.8rem;
  --header-logo-size: 3.5rem;

  --border-radius-round: 50%;
  --border-radius-roundish: 1rem;
  --border-radius-squarish: 0.5rem;

  --section-header-size: 1.65rem;
  --existing-data-header-size: 1rem;

  --tile-width-size: 32ch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
p, ul{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(5deg, var(--accent-blue), var(--mage-blue));
  line-height: 1.5;
}

h2 {
  color: var(--orb-gold);
  font-family: var(--font-text);
  font-size: 1rem;
  text-transform: uppercase;
}

input,
button,
textarea,
select {
  font: inherit;
}

*:focus {
  outline: 2px solid var(--flamel-red);
  outline-offset: 1px;
  transition: outline 0.2s ease-in-out;
}

.visible {
  width: var(----tile-width-size); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invisible {
  display: none;
}
