@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap');

:root {
  /* COLORS */
  --orb-gold: #edbd58;
  --orb-gold-lt: #d9c8a3;
  --orb-white: #dcdad5;
  --mage-blue: #080818;
  --mage-blue-trans: #0808184b;
  --accent-blue: #5d667e;
  --resume-blue: #d9e3e6;
  --resume-blue-dk: #b1bedc;;
  --focus-blue: #00bfff;
  --flamel-red: #eb470b;
  --purple-trans: #7244723f;
  
  --font-logo: "Wendy One", sans-serif;
  --font-text: "Lato", sans-serif;
  --font-emoji: "Noto Emoji", sans-serif;

  /* MEDIA QUERY VARIABLES */
  /* Mobile first */
  --header-font-size: 1.65rem;
  --header-logo-size: 1.75rem;

  --border-radius-round: 50%;
  --border-radius-roundish: 1rem;
  --border-radius-squarish: 0.5rem;

  --section-header-size: 1.5rem;
  --existing-data-header-size: 1rem;
}

/* Use below as a boilerplate, comment out what is not needed on this project */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, figure,
blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set default body styles */
body {
  /* height: 100vh; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  line-height: 1.5;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  background: linear-gradient(5deg, var(--accent-blue), var(--mage-blue));
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

h2 {
  color: var(--orb-gold);
  font-family: var(--font-text);
  font-size: 1rem;
  text-transform: uppercase;
}

.content-list{
  margin: 1rem;
}
ul {
  /* display: block;
  list-style-type: disc; */
  /* margin-block-start: 1em; */
  /* margin-block-end: 1em; */
  /* padding-inline-start: 1rem; */
}
li {
  /* color: var(--mage-blue);
  font-family: var(--font-text);
  font-size: .65rem;
  list-style: circle; */
}

/* Set media to block */
/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Prevent animations during page load (optional) */
*:focus {
  /* outline: 2px dashed var(--focus-blue); */
  outline: 2px solid var(--flamel-red);
  /* outline-offset: 2px; */
}

.visible {
  width: 32ch; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invisible {
  display: none;
}
